<ion-view title="Bienvenido" id="page1" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header" style="color : #232c39; background : #232c39">
        <div class="">
            <img src="img/j5R7nW4RQ9uvpUlFovdb_Antorcha-Isologotipo.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h4 id="bienvenido-heading1" style="color:#FFFFFF;font-weight:400;text-align:center;" class=" ">¡Bienvenido a Antorcha!</h4>
        <p id="bienvenido-markdown1" style="color:#FFFFFF;text-align:center;" class=" ">Ya formas parte de la comunidad deportiva online de la ZMG. Al igual que tú, estamos trabajando para construir una mejor versión de nosotros mismos. Ayúdanos a mejorar, envíanos tus comentarios y con gusto los atenderemos. Recuerda que este fuego
            lo encendemos juntos. ¡Gracias!
        </p>
        <a ui-sref="pageb2" id="bienvenido-button3" class=" button button-positive  button-block ">Continuar</a>
        <button id="bienvenido-button2" style="color:#FFFFFF;" class=" button button-light  button-block button-outline " ng-click="iniciar()">Omitir</button>
    </ion-content>
</ion-view>