<ion-view title="" id="page4" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <div class="">
            <img src="img/YQ0HTQuoSyeTQvYfF39R_Presentacion-3.jpg" width="80%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h4 id="page4-heading4" style="color:#FFFFFF;font-weight:400;text-align:center;" class=" ">Haz equipo</h4>
        <p id="page4-markdown4" style="color:#FFFFFF;text-align:center;" class=" ">Motiva a tus amigos invitándolos a encender el fuego deportivo. Practiquen juntos sus actividades deportivas favoritas</p>
        <a ui-sref="page5" id="page4-button8" class=" button button-positive  button-block ">Continuar</a>
        <button id="page4-button9" style="color:#FFFFFF;" class=" button button-light  button-block button-outline ">Omitir</button>
    </ion-content>
</ion-view>