<ion-view title="" id="page5" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header" style="color : #232c39; background : #232c39">
        <div class="">
            <img src="img/JDYyrkPZQqm09Wz396St_Presentacion-4.jpg" width="80%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h4 id="page5-heading5" style="color:#FFFFFF;font-weight:400;text-align:center;" class=" ">Encuentra eventos deportivos</h4>
        <p id="page5-markdown5" style="color:#FFFFFF;text-align:center;" class=" ">Encuentra y asiste a eventos deportivos de tu interés, recibe notificaciones personalizadas según tus preferencias</p>
        <button id="page5-button10" class=" button button-positive  button-block " ng-click="iniciar()">Empezar</button>
    </ion-content>
</ion-view>