<ion-view title="" id="page2" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <div class="">
            <img src="img/NPxEdccSSsqr0iqOUwTu_Presentacion-1.jpg" width="80%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h4 id="page2-heading2" style="color:#FFFFFF;font-weight:400;text-align:center;" class=" ">Conéctate con tu deporte favorito</h4>
        <p id="page2-markdown2" style="color:#FFFFFF;text-align:center;" class=" ">Encuentra los centros deportivos más cercanos a ti, conoce las actividades, servicios y costos que ofrecen</p>
        <a ui-sref="page3" id="page2-button4" class=" button button-positive  button-block ">Continuar</a>
        <button id="page2-button5" style="color:#FFFFFF;" class=" button button-light  button-block button-outline ">Omitir</button>
    </ion-content>
</ion-view>