<ion-view title="" id="page3" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <div class="">
            <img src="img/HKBxY1QLTJqEHnVp2NAX_Presentacion-2.jpg" width="80%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h4 id="page3-heading3" style="color:#FFFFFF;font-weight:400;text-align:center;" class=" ">Registra tus metas</h4>
        <p id="page3-markdown3" style="color:#FFFFFF;text-align:center;" class=" ">Determina tus metas, registra y dales seguimiento y compártelas con tus amigos</p>
        <a ui-sref="page4" id="page3-button6" class=" button button-positive  button-block ">Continuar</a>
        <button id="page3-button7" style="color:#FFFFFF;" class=" button button-light  button-block button-outline ">Omitir</button>
    </ion-content>
</ion-view>